*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.modal1{
    margin-top: 130px;
    display: flex;
    flex-direction: none;
    margin-left: 10%;
    width: 80%;
}
/* giohang */
.shopping{
    
    width: 40%;
    height: 576px;
    position: relative;
    
    
  }
  .header-shopping > h2{
    color: #000;
    font-size: 30px;
    margin-top: 32px;
  }
  
  .cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
  }
  .cart-column {
    display: flex;
    align-items: center;
    border: 1px solid #cda45e;
    margin-right: 1.5em;
    padding-bottom:1em;
    margin-top: 1em;
  }
  .cart-row {
    display: flex;
    height: 160px;
    border-bottom: 1px solid #bbbbba;
  
  }
  .cart-row >.cart-column{
    border: none;
  }
  .cart-item {
    width: 60%;
  }
  .cart-price ,
  .cart-item-title {
    color: #333;
    margin-left: 2em;
    margin-top: 15px;
    font-size: 1em;
    opacity: 80%;
  }
  .cart-price{
    margin-left: 0;
    margin-top: 0;
  }
  .cart-quantity {
    width: 35%;
  }
  
  
  
  .cart-item-image {
    width: 5em;
    height: auto;
    border-radius: 0.6em;
  }
  
  .btn-danger {
    cursor: pointer;
    outline: none;
    width: 3em;
    height: 3em;
    background-color: transparent;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    position: absolute;
    right: 1em;
    
  }
  
  
  .btn-danger:hover {
  }
  
  .cart-quantity-input {
    height: 2em;
    width: 3em;
    border: 0;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 0;
  }
  .cart-row:last-child {
    border-bottom: 1px solid black;
  }
  
  .cart-row:last-child .cart-column {
    border: none;
  }
  
  .cart-total-price {
    color: #333;
    font-size: 1.1em;
  }
  
  .footer-shopping {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    right:0;
    
  }
  .footer-shopping button:hover {
    background-color: #a5a39f;
    color:#fff;
    border-color:#a5a39f ;
    
  
  }
  .footer-shopping>:not(:first-child) {
    margin-left: .25rem;
  }
  .footer-shopping > button{
    width: 7rem;
    height: 4rem;
    border-radius: 10px;
    border: 2px solid #fff;
    background-color: #000 ;
    color: #fff;

  
  }
  .btn-primary1 {
    border-color: #ffffff;
    
  }
  .btn {
    cursor: pointer;
    outline: none;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 2px solid #bbbbba;
    opacity:80%;
    border-radius: 50px;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
  }
  
  
  
  .card1{
  background-color: #31394d;
  width: 25.7%;
  height: auto;
  margin: 32px 0em;
  border-radius:10px ;
  
  }
  .address{
  background-color: #31394d;
  width: 25.7%;
  height: 550px;
  margin: 32px 0em;
  border-radius:10px ;
  margin-right: 3%;
  margin-left: 3%;
  
  }
  .header2{
  color:#ffffff;
  }
  
  .blockstate{
  width: 50%;
  height: auto;
  }
  
  .state-city{
  display: flex;
  }
  .blockcity{
  width: 50%;
  height: auto;
  }
  .header-address{
  margin-top: 30px;
  margin-left: 2em;
  }
  .body-address{
  margin-top: 1.5em;
  margin-left: 2em;
  font-size: 13px;
  }
  #state,#city  {
    border-bottom: 1px solid #bbbbba;
    margin-bottom: 10px;
  }
  .body-card label,
  .body-address label{
  width: 90%;
  margin-top: 10%;
  color:#bbbbba;
  font-size: 1em;
  }
  .body-card select,
  .body-address select{
  background-color: transparent;
  color: #eee;
  border: 0;
  }
  .body-card input,
  .body-address input{
  width: 80%;
  background-color: transparent;
  border: 0;
  color:#eee;
  margin-top: 0.6em;
  border-bottom: 1px solid #bbbbba;
  padding-bottom: 10px;
  }
  select{
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  width: 70%;
  }
  .header-card{
  margin-top: 30px;
  margin-left: 2em;
  }
  .text{
  display: flex;
  }
  .cvv{
  display: flex;
  
  }
  .header2 {
    font-size: 20px;
  }
  
  .body-card .image img{
  width: 80%;
  height: 80%;
  opacity: 50%;
  margin: 0 2em;
  margin-top: 1.5em;
  }
  .cvv select{
  margin: 0 1em; 
  border-bottom:1px solid #bbbbba ;
  }
  .body-card{
    
    font-size: 13px;
  }
  .body-card form{
  margin-left: 2em;
  }
  .cvv{
  margin-top: 0.6em;
  }
  .body-card select{
  margin-left: 0;
  }
  .footer-address label{
    margin-top: 0;
  }
  .close{
    margin:10px
  }
  .body-shopping{
    height: 320px;
    overflow-y:auto;
  }
  .portfolio-wrap img{
    width: 415px;
    height: 315px;
  }
  .info > .address {
    width:  16em;
  }
  .cart > a:hover{
    color:#cda45e;
  }
  .cart-total{
    margin-right: 10%;
  }