*{
	margin:0;
	padding:0;
	font-family: Arial;
	font-size: 14px;
}

hr{
	width:95%;
	margin: auto;
	/*margin-bottom: 30px;*/
	
}
/*Phần top*/
#muc{
	height: 100px;
	margin: 0 55px 20px 50px;
	position: relative;
	background: white;
}
#tengoi{
	float: left;
}
#tengoi img{
	float: left;
	margin-top: 20px;
}
.logo-text{
	float: left;
	display: inline-block;
	line-height: 100px;
	font-size: 40px;
	color: red;
}

/*Các menu*/
.chon{
	margin-top: 25px;
	margin-left:10px;
	float: left;
	display: inline-block;
	border:2px solid #000;
	background: #fff;
	color:#000;
	line-height: 30px;
	box-sizing: border-box;	
	padding:5px 10px 5px 10px;
	font-weight: bold;
	transition: all 0.3s;
	text-transform: uppercase;
	cursor: pointer;
}
.chon:hover{
	background: #19ba99;
	color:white;
}
.chon img{
	float: left;
	margin-top:2.5px;
	margin-right: 5px;
	height: 40px;
}

.chon p{
	float: left;
	line-height: 30px;
	font-size: 20px;
	margin-top: 8px;
}
/*Chảo admin*/
#chao{
	margin-top: 20px;
	float: right;
	color:#19ba99;
	border:0;
}
#chao:hover{
	background: #fff;
	color:#19ba99;
	text-decoration: underline;
}
#dangxuat{
	float: right;
	border: 0;
	padding:0;
	margin-top: -10px;
	margin-right: 0px;
	margin-left: 200px;
	font-size: 20px;
	font-weight: bold;
}

#dangxuat:hover{
	text-decoration: underline;
	cursor: pointer;
	color:#19ba99;
	
}
#dangxuat img{
	width:20px;
	height: 20px;
	margin-top:10px;
	margin-right: 10px;
	height: 20px;
}

/*===========================*/
/*Thêm sản phầm*/
#addTable{
	margin:0 auto;
	padding:0;
	border-collapse: collapse;
	width:900px;
	border: 5px solid #19ba99;
	background: #19ba99;
	color:white;
}
#addTable table, #addTable th, #addTable td{
	padding: 10px;
	font-size: 20px;

}

#addTable th{
	width: auto;
	text-align: right;
}
#addTable input{
	padding:10px;
	width:90%;
	border-radius: 10px;
	font-size: 20px;
	color:#444;
}
#addTable select{
	padding:10px;
	width:250px;
	border-radius: 10px;
	font-size: 20px;
}

h2{
	text-align: center;
	font-size: 32px;
	text-transform: uppercase;
	color:#19ba99;
	margin-top: 10px;
}
#them, #suaspForm{
	width:auto;
	line-height: 30px;
	text-align: center;
	padding:10px;
	position: relative;
	background: white;
	color:#066b56;
	border-radius: 5px;
	border:0;
	float:right;
	margin-right: 55px;
}
#them p,#suaspForm p{
	padding-left: 30px;
	text-transform: uppercase;
	font-size: 20px;

}
#them img, #suaspForm img{
	display: inline-block;
	height:30px;
	position: absolute;
	left: 7px;
}

#addForm{
	display: none;
}

/*Khách hàng*/
#userDivContainer{
	
}
#userDiv{
	display: block;
	width:95%;
	margin: 0 auto;
}

#userTable{
	border-collapse: collapse;
	width:100%;
	margin: 0 auto;
}
#userTable th{
	background:#19ba9982;
	color:#000;
}
#userTable , #userTable th, #userTable td{
	border: 1px solid #ccc;
	padding: 10px;
	text-align: center;
	font-size: 14px;
}
#userTable td{
	position: relative;
	box-sizing: border-box;
	height: 40px;
}
#userTable img{
	width:20px;
}
#userTable img:hover{
	position: absolute;
	top:8%;
	left:25%;
	width:30px;
}

/*Sản phầm*/

td.anhminhhoa{
	width:85px !important;
	height: 85px !important;
}
img.anhminhhoa{
	width:50px !important;	
	height: 50px !important;
}

#tableChiTietDonHang .tdanhminhhoa{
	width:40px;
}
#tableChiTietDonHang{
	width:90% !important;
}
#table td{
	position: relative;
}
.tensanphamminhhoa{
	width:500px;
}
.xoatd{
	width:60px;
}
#table .sua:hover, #table .xoa:hover{
	position: absolute;
	top:23%;
	left: 20%;
	height: 50px;
	width: 50px;
}
#tableContainer, #DivDonHang,#chitietDonHang{
	display: block;
}
#table{
	width:95%;
	margin: 0 auto;
}
#TableDonHang{
	width: 80%;
	margin: 0 auto;
}

#table table, #TableDonHang table,#tableChiTietDonHang{
	width:100%;
	margin:0 auto;
}
/*#table tr:nth-child(odd),#TableDonHang tr:nth-child(odd){
	background: #19ba99;
	color:white;
}*/
#table th, #TableDonHang th,#tableChiTietDonHang th{
	background: #19ba99;
	color:white;
}
#table table, #table th,#table td, #TableDonHang table, #TableDonHang th, #TableDonHang td,#tableChiTietDonHang,#tableChiTietDonHang th,#tableChiTietDonHang td{

	border: 2px solid #0d9a7d;
	border-collapse: collapse;
	text-align: center;
	padding:5px;	
	font-size: 14px;		
}
#table img{
	width:20px;
}
#TableDonHang td{
	position: relative;
	height: 30px;
}
#TableDonHang img{
	height: 30px;
	width: 30px;
}
#TableDonHang img:hover{
	position: absolute;
	top: 6%;
	right: 38%;
	height: 40px;
	width: 40px;
}
#addPro{
	margin:0;
	margin-left: 35px;


}

#TableDonHang table th,#TableDonHang table td{
	font-size: 16px;
}

#TableDonHang input{
	width: 20px;
	height: 20px;
}
#hinhanhEdit{
	float: left;
	width:300px;
	box-sizing: border-box;
	height: 300px;
	padding:20px;
	background: white;
	margin-left: 5px;
}

#chitietDonHang{
	display: none;
}
#DivDonHang{
	display: block;
}


/*Thông tin đơn hàng*/
#chitietDonHang{
	position: absolute;
	top:20%;
	left: 17%;
	background: #ddd;
}
#thongtindonhang{
	margin-left: 150px;
}
#thongtindonhang div{
	display: inline-block;
	padding:10px;
	width:90px;
	border-radius: 5px;
	margin-bottom: 10px;
	background: #19ba99;
	color:white;
	font-weight: bold;
	margin-right: 10px;
}
#thongtindonhang input{
	margin-right: 20px;
	padding:10px;
	width:90px;
	border-radius: 5px;
	margin-bottom: 10px;
}
#donhangsp{
	background: transparent;
	width:100%;
}
#tableChiTietDonHang{
	width: 100%;
	background: #ddd;
}
#x{
	float: right;
	font-size: 30px;
	width:30px;
	height: 30px;
	line-height: 30px;
	display: block;
	font-weight: bold;
	/*background: #19ba99;*/
	border: 1px solid #ccc;
	padding:10px;
	padding-right: 10px;
	text-align: center;
	cursor: pointer;
}
#x:hover{
	font-size: 35px;
	line-height: 35px;
	color:white;
}

#thongke div{
	margin-left: 50px;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-weight: bold;
}
#thongke span{
}
#tke {
	width:70%;
	margin: 0 auto;
	border-collapse: collapse;
	margin-bottom: 30px;
}
#tke th,#tke td{
	border: 3px solid #19ba99;
	padding:10px;
	text-align: center;
}


/*///trang*/
#page{
	padding-top: 20px;
	height: 50px;
	width: 200px;	
	margin-left: 46%;
}
#page span{
	display: inline-block;
	height: 30px;
	width: 30px;
	border: 1px solid #ccc;
	color:#555;
	text-align: center;
	line-height: 30px;
}
#page span:hover{
	background: #19ba99;
}

#foot{
	width: 100%;
	height: 70px;
	background: #000;
	color: #fff;
	text-align: center;
	box-sizing: border-box;
	padding-top: 20px;
}
#container{
	height: 800px;
}